@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", monospace;
}
body {
  background-color: #fefae0;
}

.welcome-user {
  text-align: center;
}

.header-container {
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container a {
  text-decoration: none;
  color: green;
}

.title-header {
  font-size: 45px;
}

.habit-container {
  /* border-top: 3px solid #d4a373; */
  border: 2px solid green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.habit {
  border: 1px solid grey;
  box-shadow: 5px 5px grey;
  border-radius: 25%;
  padding: 1.5%;
  margin: 2% 7%;
  text-align: center;
  background-color: #faedcd;
  width: 250px;
  min-width: 300px;
  height: 20rem;
}

.habit-title {
  border-bottom: 1px solid black;
  margin-bottom: 6%;
}

.habit-description {
  border: 1px solid green;
  border-radius: 15%;
  height: 50%;
}
.habit-goal {
  margin-top: 2%;
}

.view-more {
  margin-top: 5%;
  display: inline-block;
}
.view-more a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 2%;
  border-radius: 15%;
  box-shadow: 1px 1px black;
  background-color: #fefae0;
}

.add-habit-container,
.log-input-container {
  /* border: 2px solid purple; */
  margin: 1%;
  width: fit-content;
  border: 1px solid black;
  border-radius: 35%;
  padding: 1%;
}

.log-input {
  width: 6%;
  font-size: 20px;
}

.log-table {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.log-table th {
  border-bottom: 1px solid black;
}
.log-table table {
  border-spacing: 20% 15%;
}
.log-table td {
  padding: 3%;
  border-bottom: 1px solid grey;
}

.add-habit-button a {
  text-decoration: none;
  color: #40916c;
}

.habit-info-container {
  border: 2px solid black;
}

.habit-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #faedcd;
  border-radius: 10%;
  margin: 1%;
  padding: 3%;
}

.logs-container {
  display: flex;
  text-align: center;
  justify-content: center;
}

.left-side-habitinfo {
  width: 50%;
  height: 500px;
}

.log-chart-container {
  width: 50%;
  max-width: 30rem;
}

.edit-log-button,
.delete-log-button {
  background-color: inherit;
  border: none;
  font-size: 20px;
}

.delete-habit-button {
  margin-top: 8%;
  border: none;
  font-size: 15px;
  background-color: #faedcd;
  padding: 1%;
  color: red;
}

.delete-habit-button:hover {
  border: 1px solid red;
}

.progress-comment {
  text-align: center;
}
