{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
    <script src="{% static 'main.js' %}" defer></script>
    <title>UnHabited</title>
</head>
<body>
    <div class="header-container">

        <header class="title-header"><a href="/home">UnHabited&reg</a></header>
        <nav><a href="/home/">Home</a> | <a href="/accounts/logout/">Logout</a></nav>

    </div>
    <br>
    {% block content %}
    {% endblock %}
    
</body>
</html>