{% extends 'base.html' %}

{% block content %}

<h1>Habit Info Page</h1>

<div class="main-container">
    
    <div class="habit-info-container">
        <div class="left-side-habitinfo">
            <div class="habit-info-title">
                {{habit.title}}
            </div>
            <br>
            <div class="habit-info-description">
                {{habit.description}}
            </div>
            <br>
            <div class="habit-info-goal">
                Goal: {{habit.goal}}
            </div>
            <div class="logs-container">
                {% if habit_logs %}
                <div class="log-table">
                    <table>
                        <tr>
                            <th>Amount</th>
                            <th>Date</th>
                        </tr>
                        {% for log in habit_logs %}
                        <tr id={{habit.pk}}>
                            <td class="track-unit-cell">{{log.track_unit}}</td> 
                            <td class='date-cell'>{{log.date}}</td>
                            <td class='edit-del-buttons'>
                                <form action="{% url 'edit_log' habitpk=habit.pk logpk=log.id %}" method='post'>
                                    <button class="edit-log-button button">Edit</button></form><button id={{log.id}} class="delete-log-button button">Del</button></td>
                                    
                                
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% else %}
        <em>currently no logs, start tracking!</em>
        {% endif %}
        
        <div class="log-input-container">
            <a href="{% url 'add_log' habitpk=habit.pk %}">Add Log</a>

        </div>
    </div>
    <div class="log-chart-container">
        <canvas id="myChart" width="500" height="500"></canvas>
    </div>

    </div>
</div>



{% endblock %}