{% extends 'base.html' %}

{% block content %}

<h1>Habit Info Page</h1>

<div class="main-container">

    <div class="habit-container">
        {{habit.title}}
        <br>
        {{habit.description}}
        <br>
        Goal: {{habit.goal}}
    <div class="logs-container">
        Logs:
        {% if habit_logs %}
        <ul>
            {% for log in habit_logs %}
                <li>{{log}}</li>
            {% endfor %}
        </ul>

        {% else %}
        <em>currently no logs, start tracking!</em>
        {% endif %}
        
        <div class="log-input-container">
            <a href="{% url 'add_log' habitpk=habit.pk %}">Add Log</a>

        </div>
    </div>



    </div>
</div>



{% endblock %}