{% extends 'base.html' %}

{% block content %}

<h1>Habit Info Page</h1>

<div class="main-container">

    <div class="habit-container">
        {{habit.title}}
        <br>
        {{habit.description}}
        <br>
        Goal: {{habit.goal}}
    <div class="logs-container">
        Logs:
        {% if habit_logs %}
        <div class="log-table">
            <table>
                <tr>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
                {% for log in habit_logs %}
                <tr id={{habit.pk}}>
                    <td>{{log.track_unit}}</td> 
                    <td>{{log.date}}</td>
                    <td class='edit-del-buttons'><button class="edit-log-button button">Edit</button>|<button id={{log.id}} class="delete-log-button button">Del</button></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <em>currently no logs, start tracking!</em>
        {% endif %}
        
        <div class="log-input-container">
            <a href="{% url 'add_log' habitpk=habit.pk %}">Add Log</a>

        </div>
    </div>



    </div>
</div>



{% endblock %}